<form id="todo-form-create" action="/todo/create" method="post">
  <div class="input-group">
    <input class="form-control" id="todo_description" name="todo[description]" type="text">
    <span class="input-group-btn">
      <button class="btn btn-default" name="button" type="submit">
        New Task
      </button>
    </span>
  </div>
</form>
